* {
  box-sizing: border-box; /* Οι ιδιότητες width & height συμπεριλαμβάνουν
                           περιεχόμενο, padding και περιθώριο*/
  word-wrap: break-word;  /* Μεγάλες λέξεις σπάνε στην επόμενη γραμμή */
}

/* Μορφοποίηση γραμματοσειράς, χρώμα υποβάθρου */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#efefef;
}

/* Μορφοποίηση γραμματοσειράς Heading 1 */
h1 {
	font-size: 20px;
}

/* Μορφοποίηση γραμματοσειράς Heading 2 & 3 */
h2, h3 {
	font-size: 17px;
}

/* Μορφοποίηση πινάκων, κελιών */
table, th, td {
  border: solid 1px; /* στιβαρή γραμμή περιγράμματος */
  border-collapse: collapse; /**/
  padding:0; /*περιθώριο μεταξύ περιγράμματος και κειμένου*/
}

/* Μορφοποίηση του header 
Ο header χωρίζεται κάθετα σε 3 περιοχές
header-left: (width 25%) περιοχή εικόνας εμβολιαστικού προγράμματος
header-center: (width 50%) περιοχή τίτλου εμβολιαστικού προγράμματος
header-right: (width 25%) περιοχή κουμπιού "Είσοδος / Εγγραφή"
*/
header {
  text-align: center;
}

.header-table {
	width:100%;
}

/* περιοχή εικόνας εμβολιαστικού προγράμματος */
.header-left {
  /*float: left;*/ /* στοίχιση αριστερά */
   /* κεντραρισμένο κείμενο */
  width:25%;  /*1/4 του συνολικού πλάτους του header */
  padding:15px;  /*περιθώριο μεταξύ περιγράμματος και κειμένου*/
  /*display: block;*/ /*το στοιχείο είναι τύπου block
  ¨                ξεκινά από νέα γραμμή
				   καταλαμβάνει όλο το πλάτος*/
}

#logo {
  /*max-width:100%;*/ /*το μέγεθος της εικόνας δεν μπορεί να ξεπερνά το αρχικό μέγεθος*/
  background-repeat: no-repeat; /*Η εικόνα δεν επαναλαμβάνεται*/
  background-size: cover; /*Η εικόνα καταλαμβάνει όλο το container*/
} 

/* περιοχή τίτλου εμβολιαστικού προγράμματος */
.header-center {
  /*float: left;*/ /* στοίχιση αριστερά */
   /* κεντραρισμένο κείμενο */
  width:50%; /*1/2 του πλάτους */
  padding:30px; /*περιθώριο μεταξύ περιγράμματος και κειμένου*/
  /*display: block;*/ /*το στοιχείο είναι τύπου block*/
}

/* περιοχή κουμπιού "Είσοδος / Εγγραφή" */
.header-right {
  /*float: left;*/ /* στοίχιση αριστερά */
   /* κεντραρισμένο κείμενο */
  width:25&; /*1/4 του πλάτους */
  padding:50px; /*περιθώριο μεταξύ περιγράμματος και κειμένου*/
  /*display: block;*/ /*το στοιχείο είναι τύπου block*/
}

/* button styles */
.any-button {
  width: 180px; /*πλάτος κουμπιού σε pixel */
  height: 50px; /*ύψος κουμπιού σε pixel */
  background-color: LightBlue; /*χρώμα υποβάθρου*/
}

/* Αλλαή χρώματος κουμπιού σε mouse over */
.any-button:hover {
  background-color: cyan; /*χρώμα υποβάθρου*/
  color: black; /*χρώμα κειμένου*/
}

.rendezvous-button {
  background-color: LightBlue; /*χρώμα υποβάθρου*/
}

/* Αλλαή χρώματος κουμπιού σε mouse over */
.rendezvous-button:hover {
  background-color: cyan; /*χρώμα υποβάθρου*/
  color: black; /*χρώμα κειμένου*/
}

/*Κλάση που παρέχει κεντραρισμένο κουμπί*/
.centered-button {
  display: block;     /*το στοιχείο είναι τύπου block*/
  margin-left: auto;  /* αριστερό περιθώριο */
  margin-right: auto; /* δεξί περιθώριο */
}

/* Κυρίως μέρος*/
.main_part {
   /* στιβαρή γραμμή περιγράμματος */
  border-width: 0;/* 1px 1px 1px;*/ /* δεξί και κάτω περίγραμμα μόνο*/
  height: 600px;
  width: 100%;
}

/* 
Το κυρίο μέρος της σελίδας χωρίζεται κάθετα σε δύο περιοχές
Μενού (menu) - πλάτος 1/4
Κυρίως μέρος (main_board) - πλάτος 3/4
Το κυρίως μέρος μπορεί να χωριστεί κάθετα σε 2 περιοχές:
αριστερή περιοχή (left_half_main_board)
δεξιά περιοχή (right_half_main_board)
*/
.menu {
  /*float: left;*/ /* στοίχιση αριστερά */
  border-width: 0px 0px 1px 1px; /*χωρίς περίγραμμα*/
  width:25%; /*1/4 του συνολικού πλάτους*/
  /*height:100%;*. /*όλο το ύψος*/
  vertical-align: top;
}

.menu a {
  text-decoration: none; /*σύνδεσμοι χωρίς υπογραμμίσεις*/
  display: block; /*το στοιχείο είναι τύπου block*/
}

/* Αλλαγή χρώματος υποβάθρου γραμμής του πίνακας του μενού */
.menu_table tr:hover {
  background-color: Lightblue;
}

/* Αλλαγή χρώματος υποβάθρου γραμμής του επιλεγμένου στοιχείου */
.active_menu_item {
  background-color: cyan;
}

/* Μορφοποίηση πίνακα μενού */
.menu_table {
  border-width: 0px; /* πίνακας χωρίς περίγραμμα*/
  /*display: block;*/
  width:100%; /*ο πίνακας του μενού εκτείνεται σε όλο το πλάτους του τμήματος menu*/
}

.menu_table tr {
  border-width: 0px; /* γραμμή πίνακα χωρίς περίγραμμα*/
  padding:0px;
  /*display: block;*/
}

.menu_table td {
  border-width: 0px 0px 1px 0px; /* κελί πίνακα με δεξί περίγραμμα μόνο*/
  padding:15px;
  /*display: block;*/
  
}

.main_board {
  /*float: left;*/ /* στοίχιση αριστερά */
  border: solid;  /* στιβαρή γραμμή περιγράμματος */
  border-width: 0px 1px 1px 1px; /* πίνακας με κάτω και αριστερό περίγραμμα μόνο*/
  width:75%; /*3/4 του πλάτους*/
  /*height:100%;*/ /*όλο το ύψος*/
  /*overflow: scroll;*/ /* με scroll bar */
  padding: 10px; /*περιθώριο μεταξύ περιγράμματος και κειμένου*/
  vertical-align: top;
} 

.main_board_no_padding {
  overflow: auto; /* με scroll bar αν χρειάζεται */
  padding:0px; /*χωρίς περιθώριο μεταξύ περιγράμματος και κειμένου*/
}

.left_half_main_board {
  float: left; /* στοίχιση αριστερά */
  width:50%; /*1/2 του πλάτους*/
  height:100%; /*όλο το ύψος*/
  border-width: 0px; /* πίνακας χωρίς περίγραμμα*/
  text-align: center; /* κεντραρισμένο κείμενο */
  overflow: hidden; /* χωρίς scroll bar */
}

.right_half_main_board {
  float: left;/* στοίχιση αριστερά */
  width:50%; /*1/2 του πλάτους*/
  height:100%; /*όλο το ύψος*/
  border: solid; /* στιβαρή γραμμή περιγράμματος */
  border-width: 0px 0px 0px 1px; /* πίνακας με αριστερό περίγραμμα μόνο*/
  text-align: center; /* κεντραρισμένο κείμενο */
  overflow: hidden; /* χωρίς scroll bar */
}

.half_main_board_padding {
  padding:10px; /*περιθώριο μεταξύ περιγράμματος και κειμένου*/
}

.vaccination_center_map {
	border: solid 1px; /* στιβαρή γραμμή περιγράμματος, Πάχος 1 pixel*/
	margin-left: auto;  /* αριστερό περιθώριο */
    margin-right: auto; /* δεξί περιθώριο */
}

/*Μορφοποίηση πίνακα login*/
.login_table {
  width: 80%; /*80% του πλάτους*/
  margin-left: auto;  /* αριστερό περιθώριο */
  margin-right: auto; /* δεξί περιθώριο */
}

/*Μορφοποίηση πάχους περιγράμματος πίνακα Εισόδου/Εγγραφής */
.login_table {
  border-width: 0.5px;
}

.login_table th {
  border-width: 0.5px;
}

.login_table td {
  border-width: 0.5px;
  padding: 5px;
}

.menu_user {
	background-color:FloralWhite;
	border:2px solid blue; 
	border-radius: 12px;
	margin:0;
	padding:0;
}

.menu_user a {
	display: inline-block;
	border-radius: 12px;
	margin:0;
	padding: 16px;
	text-align: center;
	text-decoration: none;
}

.menu_user a:hover {
	background-color:Lightblue;
}

.user_data {
	background-color:FloralWhite; 
	padding:5px; 
	border: 2px solid blue; 
	border-radius: 12px;
}

.button_rendenvous {
	width: 180px; 
	height: 50px; 
	background-color: LightBlue;
}

.select_vacc_center {
	padding:10px;
	margin: 10px;
	font-size: 12px;
}

.select_vacc_center_form {
	padding:10px;
	margin: 10px;
	font-size: 12px;
	position: absolute;
	top: 50%;
	width: 50%;
}

.change_user_data_form {
	padding:10px;
	margin: 10px;
	font-size: 12px;
	position: absolute;
	top: 50%;
	width: 50%;
}

.vacc_center_rendezvous_cell {
	padding:10px;
	background-color:LightGreen;
}

.free_rendezvous_cell {
	padding:10px;
	background-color:LightGreen;
}

.free_rendezvous_cell:hover {
  background-color: cyan; /*χρώμα υποβάθρου*/
  color: BlueViolet; /*χρώμα κειμένου*/
}

.not_free_rendezvous_cell {
	padding:10px;
	background-color:orange;
}

.not_free_rendezvous_cell:hover {
  background-color: cyan; /*χρώμα υποβάθρου*/
  color: red; /*χρώμα κειμένου*/
}

.print_header_table{
	border-width: 0px;
}

.print_header_table th {
	border-width: 0px;
}

.print_header_table td {
	border-width: 0px;
}

/* Ο footer είναι στο τέλος της σελίδας */
footer {
   /*κείμενο κεντραρισμένο*/
   /* στιβαρή γραμμή περιγράμματος */
  border-width: 0px; /*1px 1px 1px;*/ /*χωρίς πάνω γραμμή περιγράμματος*/
  /*padding: 15px;*/ /*περιθώριο μεταξύ περιγράμματος και κειμένου*/
}

